# Maya specific files
*.ma
*.mb
*.mel
*.log

# Python specific files
__pycache__/
*.pyc
*.pyd
.Python/
venv/
.ruff_cache/

# Operating System files
.DS_Store
Thumbs.db

# Build artifacts
build/
dist/

# IDE specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Other temporary files
*.tmp
logs/

# ai agent files
.gemini/
.clinerules/
.claude/

# TestData
/docs/pmx_spec.md
/tests/data/*
!/tests/data/place_test_data_here
!/tests/data/miku_v2.pmd

