# Maya specific files
*.ma
*.mb
*.mel
*.log

# Python specific files
__pycache__/
*.pyc
*.pyd
.Python/
venv/
.ruff_cache/

# Operating System files
.DS_Store
Thumbs.db

# Build artifacts
build/
dist/

# IDE specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Other temporary files
*.tmp
logs/

# ai agent files
.gemini/
.clinerules/
.claude/
.kiro/
KIRO.md
.mcp.json

# TestData
/tests/data/*
!/tests/data/place_test_data_here
!/tests/data/miku_v2.pmd
!/tests/data/for_unit_test/*.pmx
!/tests/data/for_unit_test/*.pmd
!/tests/data/for_unit_test/*.vmd
!/tests/data/mmt_test_model.pmx
mmd_tools/shaders/MayaToonOutline.fx

# Serena
serena/
.serena/
